.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #cdcdcd;
    font-family: "Poppins", serif;
}

.page {
    width: 100%;
}

.user-content-container {
    margin-left: 20vw;
    margin-right: 20vw;
}

.info-panel-scale {
    grid-template-columns: 1fr 1fr 1fr;
}

.link-panel {
    grid-template-columns: repeat(4, 1fr);
}

.two-part, .two-part-scale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.fifty-fifty, .forty-sixty {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.fifty-fifty {
    grid-template-columns: repeat(2, 1fr);
}

.forty-sixty {
    grid-template-columns: 0.4fr 0.6fr;
}

.saints {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.generic-header {
    width: 100vw;
    height: 65vh;
    max-height: 65vh;
    position: relative;
    overflow: hidden;
}

.saints > img, .generic-header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-header > img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
}

.saint-drop {
    width: 100%;
    height: 100%;
}

.info-panel, .link-panel {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
}

.info-panel-item, .link-panel-item {
    border: 1px solid rgba(125, 125, 125, 0.63);
    border-radius: 0.5em;
    background-color: #d7d7e2;
    padding: 1em;
    overflow: hidden;
}

.info-panel-item > h2 {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.info-panel-item > p, .qa-box p {
    padding: 0;
    margin: 0;
}

.link-panel-item {
    padding: 0;
    position: relative;
}

.link-panel-item:hover {
    box-shadow: rgba(125,125,125,0.63) 1em 1em 1em;
    transition: 0.25s;
}

.image-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.link-panel-item > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.link-panel-item-text {
    padding: 1em;
}

.link-panel-item-text > p, .link-panel-item-text > h3 {
    margin: 0;
}

.info-panel-item-negate {
    background-color: rgb(252, 185, 185);
}

.navigation-container {
    background-color: rgb(255 255 255 / 60%);
    border: 1px solid rgba(125, 125, 125, 0.63);
    border-radius: 0.5em;
    top: 0;
    position: fixed;
    left: 0;
    right:0;
    margin-top: 1em;
    padding: 0.5em;
    z-index: 100;
}

.container {
    /*border: 0px solid rgba(125, 125, 125, 0.63);*/
    border-radius: 0.5em;
}

.user-content {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
}

.padded-content-item > img, .content-item > img {
    max-width: 100%;
    width: 50em;
    border-radius: 0.5em;
}

.padded-content-item {
    display: block;
    margin: auto;
}

.content-item {
    max-width: 100%;
}

.interesting-image-container > div {
    border-radius: 0.5em;
    overflow: hidden;
}


.interesting-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: fit-content(20em);
    gap: 0.5em;
}

.dominant-image-container {
    display: grid;
    grid-template-areas: "a b b"
    "a b b"
    "c b b"
    "c d e";

    border-radius: 0.5em;
    overflow: hidden;
}

.dominant-image-container-a {
    grid-area: a;
}
.dominant-image-container-b {
    grid-area: b;
}
.dominant-image-container-c {
    grid-area: c;
}
.dominant-image-container-d {
    grid-area: d;
}
.dominant-image-container-e {
    grid-area: e;
}

.dominant-image-container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interesting-image-container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.one {
    grid-column: 1;
    grid-row: 1;
    aspect-ratio: 3 / 2;
}

.two {
    grid-column: 2;
    grid-row: 1;
    aspect-ratio: 3 / 2;
}

.three {
    grid-column: 1;
    grid-row: 2 / 4;
    aspect-ratio: 2 / 3;
}

.four {
    grid-column: 2;
    grid-row: 3;
    aspect-ratio: 3 / 2;
}

.five {
    grid-column: 3;
    grid-row: 3;
    aspect-ratio: 3 / 2;
}

.six {
    grid-column: 3;
    grid-row: 4 / 6;
    aspect-ratio: 2 / 3;
}

.seven {
    grid-column:  2;
    grid-row: 5;
    aspect-ratio: 3 / 2;
}

.label {
    grid-column: 3/5;
    grid-row:  1/2;
    margin: auto;
    display: block;
}

.user-content > h1 {
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

.content-section {
    background: linear-gradient(to top, #ffffff 50%, #bbd1ef);
    padding-top: 8em;
    padding-bottom: 8em;
}

.picture-navigator-collection {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: right 2s ease;
}

.picture-navigator-picture {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
}

.picture-navigator-picture > img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture-navigator {
    background: linear-gradient(to top, #d7d7e2, 50%, #fff);
    border: 1px solid rgba(125, 125, 125, 0.63);
    border-radius: 0.5em;
    position: relative;
    z-index: 50;
    overflow: hidden;
}

.picture-navigator-button-left, .picture-navigator-button-right {
    color: #cdcdcd;
    font-size: 5em;
    -webkit-text-stroke: 1px #444444;
}

.picture-navigator-buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
}

.picture-navigator-button-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture-navigator-label-container {
    position: absolute;
    bottom: 1%;
    width: 100%;
}

.picture-navigator-label {
    padding: 0.2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    border-radius: 0.5em;
    border: 1px solid rgba(125, 125, 125, 0.63);
    background: rgb(255 255 255 / 60%);
}

.picture-navigator > button {
    font-size: 2em;
    border: none;
    background-color: rgba(255, 255, 255, 0.54);
    /*text-shadow: rgba(125,125,125,0.63) 5px 5px 5px;*/
    border-radius: 5em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.map-container {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 0.5em;
    z-index: 1;
}

ul {
    list-style-type: none;
}



.grid-resizable > div {
}

.grid-resizable-title-left {
    grid-area: AA;
}

.grid-resizable-title-right {
    grid-area: BA;
}

.grid-resizable-5050-pic-1 {
    grid-area: CA;
}

.grid-resizable-5050-text-1 {
    grid-area: DA;
}

.grid-resizable-5050-pic-1r {
    grid-area: CA1;
}

.grid-resizable-5050-text-1r {
    grid-area: DA1;
}

.grid-resizable-5050-pic-2 {
    grid-area: EA;
}

.grid-resizable-5050-text-2 {
    grid-area: FA;
}

.grid-resizable-5050-pic-2r {
    grid-area: EA1;
}

.grid-resizable-5050-text-2r {
    grid-area: FA1;
}

.grid-resizable-bottom-a {
    grid-area: GA;
}

.grid-resizable-bottom-b {
    grid-area: HA;
}

.grid-resizable-bottom-c {
    grid-area: IA;
}

.grid-resizable-bottom-d {
    grid-area: JA;
}

.grid-resizable-bottom-text{
    grid-area: KK;
}

.grid-resizable {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content(100%) auto;
    grid-template-areas: "AA AA BA BA"
                         "CA DA CA1 DA1"
                         "EA FA EA1 FA1"
                         "KK KK . ."
                         "GA HA IA JA";
}

.display-table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid rgba(125, 125, 125, 0.63);
}

.display-table th:first-child, .display-table td:first-child {
    padding-left: 0.4em;
}

.display-table th:last-child, .display-table td:last-child {
    padding-right: 0.4em;
}

.display-table > thead {
    background-color: rgba(142, 169, 195);
}

.display-table > tbody > tr:nth-child(even) {
    background-color: rgb(187, 209, 239);
}

.display-table > tbody > tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.img-descriptor {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    font-style: italic;
}

.qa-box {
    width: 100%;
    border: 1px solid rgba(125, 125, 125, 0.63);
    border-radius: 0.5em;
    overflow: hidden;
    margin-top: 2em;
}

.qa-box > div {
    padding: 0.5em;
}

.qa-box-question {
    border-bottom: 1px solid rgba(125, 125, 125, 0.63);
    background-color: #d7d7e2;
}

.social-panel {
    display: flex;
    justify-content: right;
}

.social-panel-item {
    height: 100%;
    width: 20%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.social-panel-item div {
    min-height: 100%;
}

.social-panel-item div img {
    height: 100%;
    width: 100%;
}

.content-button {
    width: fit-content;
    border-radius: 2em;
    border: 1px solid rgba(125, 125, 125, 0.63);
    background-color: #d7d7e2;
    position: relative;
    padding: 0.5em 1.5em;
}

.content-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.63);
    transition: 0.20s;
}

@media (max-width: 1000px) {
    .user-content-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .info-panel-scale {
        grid-template-columns: 1fr 1fr;
    }

    .user-content {
        padding: 0.5em;
        margin: 0.5em;
    }

    .info-panel-item-negate {
        order: 1;
    }

    .fifty-fifty, .forty-sixty  {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 600px) {
    .user-content-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .info-panel-scale, .footer {
        grid-template-columns: 1fr;
    }

    .two-part-scale{
        flex-direction: column;
    }

    .link-panel {
        grid-template-columns: repeat(2, 1fr);
    }

    .user-content {
        padding: 0;
        margin: 0;
    }

    .info-panel-item-negate {
        order: 1;
    }

    .interesting-image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .five {
        grid-column: 2;
        grid-row: 4;
    }

    .six {
        grid-column: 2;
        grid-row: 5 / 7;
    }

    .seven {
        grid-column:  1;
        grid-row: 6;
    }

    .fifty-fifty, .forty-sixty {
        grid-template-columns: 1fr;
    }

    .grid-resizable {
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "AA AA"
                         "CA DA"
                         "EA FA"
                         "BA BA"
                         "CA1 DA1"
                         "EA1 FA1"
                         "KK KK"
                         "GA HA"
                         "IA JA";
    }

}